
/*main*/

@media (max-width: 480px) {







}

@media (max-width: 720px){
  p,a,span{
    font-size: 11px;
    padding: 2px;

  }
  div{
    font-size: 11px;
  }
  h1, h2, h3{
    margin: 0 0 5px;
  }

  h1 {
    font-size: 20px;
    line-height: 30px;
    text-align: center;

  }

  h2 {
    font-size: 18px;
    line-height: 25px;
    text-align: center;

  }

  h3 {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
  }
    h4{
    font-size: 14px;
    line-height: 20px;
    text-align: center;
  }
    .container{
        width: 100% ; 
                    
    }

}

@media (min-width: 721px) and (max-width: 1024px){
  h1, h2, h3{
    margin: 0 0 5px;
  }

  h1 {
    font-size: 25px;
    line-height: 30px;
    text-align: center;

  }

  h2 {
    font-size: 22px;
    line-height: 25px;
    text-align: center;

  }

  h3 {
    font-size: 20px;
    line-height: 20px;
    text-align: center;
  }

  
}

@media (min-width: 1025px){

}




/*style*/

   @media (max-width: 720px){
    #services .cards {
        margin: 20px;
        width: 90%;
        height: 90%;
         display: block;
        border-radius: 5px;
        text-align: center;
    } 
    #news div{
      display: block;
    }
       p,a,span{
    font-size: 11px;
    padding: 2px;

  }
       
       
#nav {
    display: block;
}
#nav li{
    padding: 5px;
    margin: 10px;

}
#nav li a{
    padding: 5px ;
    border: none;
     border bottom: : 1px solid #ecebec;
     font-weight: 100;

}            
#banner .mySlides img{
height: 500px
}      
.discription{
  top:200px;
}   
       
       
       
       
    #services .cards h4{                                                                                      
        margin:  0px
    }
       .info{
           
       }
       .services .service{
        width: 90%;
    margin: 1%;
    display: block;
  }
  .post-header__image img {
    width: 60%;
  }
  
}



@media (min-width: 721px)  {
  #services .cards {
        margin: 10px;
        width: 21%;
        height: 22%;
       
    } 
    #services .cards h4{
        font-size: 14px;
       
    } 
    #news news-cards{
      display: block;
    }
}